#home-projects {
  #home-projects-container {
    padding-top: 80px;
    padding-bottom: 80px;
    h2 {
      text-align: center;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    h3 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .block {
      margin-bottom: 25px;
      background-color: #FFFFFF;
      position: relative;
      .block-content{
        position: absolute;
        right: 0; left: 0;top: 0; bottom:0;
        margin:0;
        padding:0;
        text-align: center;
        background-color: rgba(black, 0.5);
        opacity:0;
        transition: all 0.3s;
        .content {
          color: white;
          position: absolute;
          top: 0;
          left: 0;right: 0;
          h2{
            font-size: 1.2em;
          }
          a {
            margin-top: 10px;
          }
        }
        &:hover {
          opacity: 1
        }
      }
    }
  }
}
#home-links {
  padding-top: 50px;
  padding-bottom: 50px;
  background: image-url("aa.jpg") fixed ;
  background-repeat: no-repeat;
  background-size: cover;
  a {
    padding: 45px;
    font-size: 1em;
  }
  @media (min-width: 992px) {
    padding-top: 150px;
    padding-bottom: 150px;
    background: image-url("aa.jpg") fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    a {
      padding: 45px;
      font-size: 1.8em;
    }
  }


}
#home-comments {
  padding-top:85px;
  padding-bottom:80px;
  h2 {
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
  }
  .comment-username {
    text-transform:capitalize;
    font-size:1em;
  }
  .avatar {
    box-shadow: 0px 0px 15px #ADADAD;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  @media (min-width: 992px) {
    padding-top:85px;
    padding-bottom:80px;
    h2 {
      text-align: center;
      margin-bottom: 35px;
      text-transform: uppercase;
    }
    .comment-username {
      text-transform:capitalize;
      font-size:2em;
    }
    .avatar {
      box-shadow: 0px 0px 15px #ADADAD;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

}
#home-partenaires {
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  background: image-url("Verdun.jpg") fixed ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 100px;
  text-align: center;
  .mask{
    position: absolute;
    top: 0 ; bottom: 0; left: 0; right: 0;
    background-color:#FCCE62;
    opacity: 0.4;
  }

}
