<div class="block">
  <div class="block-title">
    <h4>
      Mes derniers Sondage
      <span class="block-title_link pull-right">
        <%= link_to "<i class='fa fa-search'></i> Tout mes sondages répondus".html_safe, userSondage_url %>
      </span>
    </h4>
  </div>

  <div class="block-content">
    <table class="table table-hovered">
      <thead>
        <tr>
          <th>
            Nom
          </th>
          <th>
            Date de création
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <% @lastPollsResponses.each do | response |  %>
          <tr>
            <td>
              <%= link_to response.poll.name, pollShow_url(response.poll.id) %>
            </td>
            <td>
              <%= time_tag(response.poll.created_at) %>
            </td>
            <td>
              <a href="#" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
              <a href="#" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
