.navbar-default {
  .navbar-header {
    background-color: #f8f8f8;

    &:hover {
      background-color: #f8f8f8;
      a {
        transform:scale(1.1);
      }
    }
    a {
      transition: all 0.3s;
      position: absolute;
      left: 2%;
      top: -25%;
      padding:0;
      height: 150%;
      border-radius: 100%;
      background-color: #F8F8F8;
      box-shadow: 0px 0px 10px 0px #7c7c7c;
      &:hover {
        background-color: #F8F8F8;
      }
      img {
        width: 75px;
        padding: 5px;
        padding-left: 7%;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-default {
    .navbar-header {
      margin-left:0;
      a {
        left: 47%;
      }
    }
  }
}
@media (min-width: 992px) {
  .navbar-default {
    .navbar-header {
      margin-left:0;
      a {
        top:-50%;
        height:225%;
        left: 47%;
        img{
          width: 125px;
          padding-left: 6%;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .navbar-default {
    .navbar-header {
      margin-left:0;
      a {
        top:-75%;
        height:275%;
        left: 47%;
        img{
          width: 150px;
          padding-left: 5%;
        }
      }
    }
  }
}
