/*
*
* Variables
*
*/

//**** ALERTS *******//
  //Errors
  $alert-error_bg: #f2dede;
  $alert-error_border: #eed3d7;
  $alert-error_color: #b94a48;
  //Success
  $alert-success_bg: #dff0d8;
  $alert-success_border: #d6e9c6;
  $alert-success_color: #d6e9c6;

  $default: #ecf0f1;
  $success: #1abc9c;
  $warning: #f1c40f;
  $danger: #e74c3c;
