<div class="container-fluid" id="poll-description-container">
  <div class="row">
    <div class="container">
      <div class="col-sm-12">
        <section id="poll-description">
          <h1>Je participe à un sondage</h1>
          <p>
            Pour aider les entreprises, le développement des services à la personne, la valorisation et la préservation de l’environnement du Perche... je participe à de courts sondages.
            </br>
            <% if !current_user%>
              </br>Merci de prendre quelques minutes pour vous connecter et répondre aux questions du moment.
              </br>
              </br>
              <%= link_to "<i class='fa fa-user'></i> Se connecter".html_safe, new_session_path(:user), class:'btn btn-danger' %>
            <% else %>
              </br>Vous pourrez retrouver vos sondages répondus dans votre compte
              </br>
              </br>
              <%= link_to "Mes sondages".html_safe, userSondage_url, class: "btn btn-danger" %>
            <% end %>
          </p>

        </section>
      </div>
    </div>
  </div>
</div>
