<div class="container">
  <div class="about_body">
    <div class="about_pourquoi">
      <div class="row">
        <div class="col-xs-4">
          <div class="thumb">
            <img class="img-responsive img-bordered" src="http://img15.hostingpics.net/pics/169837ordipontonok.jpg" alt="thumbnail about"/>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="about-first">
          <div class="about_title">
            <h1>Pourquoi Meuse Tech ?</h1>
          </div>
          <div class="about_content">
            <p>
              Situé au nord du département de la Meuse et au centre de la région Grand Est, le Pays de Verdun forme
              un territoire de 222 communes pour 79 403 habitants. Cet environnement très vert offre un cadre et
              une qualité de vie incomparables à ses habitants. Il est ainsi possible de profiter du calme,
              de la qualité de l’air et des activités de nature en toute quiétude.
            </p>
            <p>
              Le Pays de Verdun a pour objectif de moderniser les bases fondamentales de la vie du territoire pour promouvoir
              le développement global de l’économie locale et de l’emploi.
            </p>
            <p>
              On entend par « bases », l’habitat, les transports mais également aujourd’hui le numérique qui est un des premiers
              critères de choix des nouveaux habitants. L’ensemble de la dynamique économique du territoire repose sur ces éléments
              pour améliorer le confort de vie des populations et leur accès à l’emploi.
            </p>
            <p>
              Le Pays de Verdun souhaite rassembler au sein de la communauté MeuseTech l’ensemble des initiatives et acteurs numériques
              afin de favoriser le développement de nouveaux projets innovants pour faire entrer l’ensemble du territoire de plain-pied
              dans le XXIème siècle.
            </p>
            <p>
              Le site MeuseTech permet la concertation, le partage d’informations ou d’idées avec les habitants du Nord meusien et
              même de la Meuse entière sur les projets qui nous et vous concernent, qu’ils soient publics ou privés. Cette plate-forme
              vous permet de proposer des projets innovants et/ou en lien avec le numérique. Cette visibilité sur les projets du
              territoire pourra déboucher sur des partenariats au-delà des frontières du département.
            </p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="about_demarche">
      <h2>Comment ça marche ?</h2>
      <div class="about_demarche_content">
        <ul>
          <li class="about_demarche_inscription">
            <p>1. Je m’inscris</p>
            Pour pouvoir déposer un projet, interagir sur le site (commenter, liker) et participer à un sondage, vous devez vous inscrire sur
            le site MeuseTech. Seulement quelques informations non rendues publiques vous seront demandées pour que le Pays de Verdun puisse
            vous contacter si besoin.
          </li>
          <li class="about_demarche_participation">
            <p>2. Je participe</p>
            L’inscription vous permet de participer sur l’ensemble de l’application MeuseTech. Déposer un nouveau projet, commenter le projet
            d’un voisin, participer aux sondages, réagir sur l’actualité…
          </li>
          <li class="about_demarche_suivi">
            <p>3. Mon projet est suivi</p>
            Le Pays de Verdun suivra les projets proposés pour aider au mieux à leur réalisation concrète : conseils techniques sur la
            faisabilité du projet, accompagnement dans le montage de dossiers de subventions, mise en relation avec de nouveaux partenaires...
          </li>
        </ul>
        <div class="about_demarche_content-end">
            Tout le monde peut déposer un projet et/ou donner son avis !
            <br>Restez connecté pour être informé des actions mises en oeuvre pour l’avenir de votre territoire.
        </div>
      </div>
    </div>
  </div>
</div>
