<h1>Je suis la home et voici les 3 projets les plus actifs du moment YOLOOOOOOOO</h1><br>

<% @projects.each do |most|%>
<%= most.name %> ===>
<% score = (most.comments_count*6 + most.nb_likes).to_i%>
<%= "Score d'activité: #{score}, avec #{most.comments_count} commentaires et #{most.nb_likes} likes !" %> <br><br>
<%end%>
