<h1>Je suis la home et voici les 3 projets les plus actifs du moment YOLOOOOOOOO</h1><br>

<% @projects.each do |most|%>
<%= most.name %> ===>
<% score = (most.comments_count*6 + most.likes_count).to_i%>
<%= "Score d'activité: #{score}, avec #{most.comments_count} commentaires et #{most.likes_count} likes !" %> <br><br>
<%end%>
